body {
    background-color: black;
    text-align: center;
}

h1 {
    font-weight: normal;
    font-family: 'Verdana';
    font-size: 50px;
    color: white;
}

h2 {
    font-family: 'Verdana';
    font-weight: 300;
    font-size: 42px;
    color: white;
}

h6 {
    text-align: right;
    color: gray;
    font-size: 21px;
}

a {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}

p {
    font-family: 'Verdana';
    font-size: 21px;
    color: gray;
}
img {
    align-items: center;
}

video {
    align-items: center;
}